<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/underscore/underscore-min.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <script src="lib/ngstorage/ngStorage.min.js"></script>
    <script src="lib/angular-svg-round-progressbar/build/roundProgress.min.js"></script>
    <script src="lib/ionic-cache-src/ionic-cache-src.js"></script>
    <script src="lib/date/index.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>  
    <script src="lib/angular-password/angular-password.min.js"></script>
    <link rel="stylesheet" href="lib/angular-ui-swiper/dist/angular-ui-swiper.css">
    <script src="lib/angular-ui-swiper/dist/angular-ui-swiper.js"></script>
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/strings.js"></script>
    <script src="js/offersfavorites.js"></script>
    <script src="js/placesfavorites.js"></script>
    <script src="js/newsfavorites.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/admob_simple.js"></script>

  </head>
  <body ng-app="starter">

    <ion-nav-bar ng-controller="HomeCtrl" class="bar bar-assertive" align-title="center">
  
  <ion-nav-buttons side="left">
      
          <a class="button button-icon icon ion-arrow-left-c" ng-click="goBack()"></a>
      
      </ion-nav-buttons>
      
      <ion-nav-buttons side="right">
      
          <a class="button button-icon icon ion-search" href="#/tab/search"></a>
      
      </ion-nav-buttons>

  </ion-nav-bar>
    <ion-nav-view>
    </ion-nav-view>

  </body>
</html>
