<ion-tabs class="tabs-striped tabs-icon-top tabs-background-clear tabs-color-assertive" ng-class="{'tabs-item-hide': hideTabs}">

    <ion-tab icon="ion-android-cloud-outline" title="{{titleHome}}" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-android-favorite-outline" title="Offers" href="#/tab/ocategories" hidden="true">
    <ion-nav-view name="tab-ocategories"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-android-notifications-none" title="News" href="#/tab/ncategories">
    <ion-nav-view name="tab-ncategories"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-android-star-outline" title="Favorites" href="#/tab/favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
    </ion-tab>

    <!-- HIDDEN TABS -->

    <ion-tab icon="ion-android-search" title="Search" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>


    <ion-tab title="login" href="#/tab/login" hidden="true">
    <ion-nav-view name="tab-login"></ion-nav-view>
    </ion-tab>

    <ion-tab title="signup" href="#/tab/signup" hidden="true">
    <ion-nav-view name="tab-signup"></ion-nav-view>
    </ion-tab>

    <ion-tab title="forget" href="#/tab/forget" hidden="true">
    <ion-nav-view name="tab-forget"></ion-nav-view>
    </ion-tab>

    <ion-tab title="categories" href="#/tab/categories" hidden="true">
    <ion-nav-view name="tab-categories"></ion-nav-view>
    </ion-tab>

    <ion-tab title="types" href="#/tab/types" hidden="true">
    <ion-nav-view name="tab-types"></ion-nav-view>
    </ion-tab>

    <ion-tab title="pcategory" href="#/tab/pcategory" hidden="true">
    <ion-nav-view name="tab-pcategory"></ion-nav-view>
    </ion-tab>

    <ion-tab title="ncategory" href="#/tab/ncategory" hidden="true">
    <ion-nav-view name="tab-ncategory"></ion-nav-view>
    </ion-tab>

    <ion-tab title="ocategory" href="#/tab/ocategory" hidden="true">
    <ion-nav-view name="tab-ocategory"></ion-nav-view>
    </ion-tab>

    <ion-tab title="place" href="#/tab/place" hidden="true">
    <ion-nav-view name="tab-place"></ion-nav-view>
    </ion-tab>

    <ion-tab title="offer" href="#/tab/offer" hidden="true">
    <ion-nav-view name="tab-offer"></ion-nav-view>
    </ion-tab>

    <ion-tab title="post" href="#/tab/post" hidden="true">
    <ion-nav-view name="tab-post"></ion-nav-view>
    </ion-tab>

    <ion-tab title="about" href="#/tab/about" hidden="true">
    <ion-nav-view name="tab-about"></ion-nav-view>
    </ion-tab>

    <ion-tab title="terms" href="#/tab/terms" hidden="true">
    <ion-nav-view name="tab-terms"></ion-nav-view>
    </ion-tab>

    <ion-tab title="privacy" href="#/tab/privacy" hidden="true">
    <ion-nav-view name="tab-privacy"></ion-nav-view>
    </ion-tab>

    <ion-tab title="purchases" href="#/tab/purchases" hidden="true">
    <ion-nav-view name="tab-purchases"></ion-nav-view>
    </ion-tab>

    <ion-tab title="contact" href="#/tab/contact" hidden="true">
    <ion-nav-view name="tab-contact"></ion-nav-view>
    </ion-tab>

    <ion-tab title="account" href="#/tab/account" hidden="true">
    <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

    <ion-tab title="nointernet" href="#/tab/nointernet" hidden="true">
    <ion-nav-view name="tab-nointernet"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-android-search" href="#/tab/osearch" hidden="true">
    <ion-nav-view name="tab-osearch"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-android-nsearch" href="#/tab/nsearch" hidden="true">
    <ion-nav-view name="tab-nsearch"></ion-nav-view>
    </ion-tab>


</ion-tabs>
